<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Proyecto_31.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Proyecto_31.Properties.Settings>
            <setting name="Mensaje" serializeAs="String">
                <value>Hola</value>
            </setting>
            <setting name="Frutas" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Organico" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Importado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tamaño" serializeAs="String">
                <value>300, 300</value>
            </setting>
        </Proyecto_31.Properties.Settings>
    </userSettings>
</configuration>